<ng-container *ngIf="vm$ | async as vm">
  <div class="header">
    <img src="assets/ngrx-logo.svg" height="50" />
    <h2>Users ({{ vm.filteredUsers.length }})</h2>
  </div>
  <input type="text" class="search-input" placeholder="Search..." (input)="onSearchUsers($event)" />
  <ul class="user-list">
    <li
      *ngFor="let user of vm.filteredUsers"
      class="user-list__item"
      [class.user-list__item--selected]="user === vm.selectedUser"
      (click)="onSelectUser(user)"
    >
      {{ user }}
    </li>
  </ul>
</ng-container>
