$dark-purple: rebeccapurple;
$light-purple: mediumpurple;
$purple-border: 2px solid $dark-purple;

:host {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 20rem;
  margin: auto;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  > img {
    height: 3rem;
    margin-right: 0.5rem;
  }
}

.search-input {
  padding: 0.5rem;
  border: $purple-border;
  font-size: 1rem;

  &:focus {
    outline: none;
  }
}

.user-list {
  list-style: none;
  padding: 0;

  &__item {
    cursor: pointer;
    border: $purple-border;
    padding: 0.5rem;
    margin-bottom: 0.25rem;

    &--selected {
      color: white;
      background: $light-purple;
    }
  }
}
